@model MvcBlog.Models.BlogPost

@{
    ViewData["Title"] = "Details";
    ViewData["firstOne"] = "true";
}

<div class="container pt-5 overflow-auto" style="height:480px">
    <div class="row-cols-12">
        @if (!string.IsNullOrEmpty(Model.Image)){
            @Html.Raw($"<img class='img-fluid' src='{@Url.Content("~/Images/" + Model.Image)}' height='240px' width='480px' >");
        }
    </div>
    <div class="row">
        <h4>@Html.DisplayFor(model => model.Title)</h4>
    </div>
    <hr />
    <div class="row">
        <div class="col-2">
            @Html.DisplayFor(model => model.Author)
        </div>
        <div class="col-2">
            @Html.DisplayFor(model => model.CreateDate)
        </div>
    </div>
    <div class="row-cols-12">
        @Html.Raw(Model.Content)
    </div>
    <div class="row">
        <div class="col-12">
            <label>Tags:</label>
            @foreach (BlogPostTag tag in Model.Tags)
            {
                <span style="display:inline">
                    @if ((string?)ViewData["firstOne"] != "true")
                    {
                        <span style="display:inline; padding-right:1px">,</span>
                    }
                    @* @Html.DisplayFor(tagItem => tag.TagName) *@
                    <a asp-action="Index" asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-currentTag="@tag.TagName">@tag.TagName</a>
                </span>
                ViewData["firstOne"] = "false";
            }
        </div>
    </div>
    <hr />
    <div>
        @{
            if (User.HasClaim("IsAdmin", bool.TrueString))
            {
                <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
            }
        }

        <a asp-action="Index">Back to List</a>
    </div>
</div>
