@model IEnumerable<MvcBlog.Models.BlogPost>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <a asp-action="Create">Create New</a>
</div>
<div class="container pt-5">
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-12">
            @Html.Raw($"<img src='{@Url.Content("~/Images/" + item.Image)}' height='120px' width='120px' >")
            </div>
        </div>
        <div class="row">
            <div class="col-12 ">
                @Html.DisplayFor(modelItem => item.Title)
            </div>
        </div>
        @* <div class="row">
            <div class="col-12">
                @Html.DisplayFor(modelItem => item.Author)
            </div>
        </div> *@
        <div class="row">
            <div class="col-12">
                @Html.DisplayFor(modelItem => item.CreateDate)
            </div>
        </div>
        <div class="row my-2">
            <div class="col-12">
                @Html.Raw(item.Content)
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
    }
</div>

@* <p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.Raw(item.Content)
            </td>
            <td>
                    @Html.Raw($"<img src='{@Url.Content("~/Images/" + item.Image)}' height='120px' width='120px' >")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@